<form class="login-form" [formGroup]="loginForm">
  <mat-card
    class="login-form__substrate"
  >
    <mat-form-field
      class="login-form__input"
    >
      <mat-label>
        <span *ngIf="loginForm.get('login').untouched || loginForm.get('login').valid"> Login </span>
        <span *ngIf="loginForm.get('login').invalid && loginForm.get('login').touched">
          <span *ngIf="loginForm.get('login').errors.required">Login is required</span>
        </span>
      </mat-label>
      <input
        matInput
        placeholder="Login (Lowe)"
        formControlName="login"
      >
    </mat-form-field>
    <mat-form-field
      class="login-form__input"
    >
      <mat-label>
        <span *ngIf="loginForm.get('password').untouched || loginForm.get('password').valid"> Password </span>
        <span *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
          <span *ngIf="loginForm.get('password').errors.required">Password is required</span>
        </span>
      </mat-label>
      <input
        type="password"
        matInput
        placeholder="Password (elit)"
        formControlName="password"
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="login($event)"
      [disabled]="loginForm.invalid"
    >
      Enter
    </button>
  </mat-card>
</form>