.login-form {
  width: 45%;
  margin: 100px auto 0;
}

.login-form__substrate {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login-form__input {
  width: 100%;
  font-family: 'Amatic+SC', cursive;
}
