.header {
  height: 70px;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid black;
}

.header__authActions {
  margin-left: auto;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
