<mat-card
  class="courses-list__item"
  [ngStyle]="setCourseBorder(coursesListItem.creationDate)"
  >
  <div>
    <div class="courses-list__item-info-area">
      <span>
        {{ coursesListItem.title | uppercase }}
        <i
          class="fa fa-star courses-list__rate-icon"
          *ngIf="coursesListItem.topRated"
        >

        </i>
      </span>
      <span>
        {{ coursesListItem.duration | duration }}
      </span>
      <span>
        {{ coursesListItem.creationDate | date: 'dd.MM.yyyy'}}
      </span>
    </div>
    <span>
      {{ coursesListItem.description }}
    </span>
  </div>
  <div>
    <button class="button__custom-font courses-list__item-button" mat-raised-button color="primary">
      Edit
    </button>
    <button
      class="button__custom-font courses-list__item-button"
      mat-raised-button
      color="primary"
      (click)="openDialogForDelete()"
    >
      Delete
    </button>
  </div>
</mat-card>
