<app-breadcrumbs [title]="courseItem.name"></app-breadcrumbs>
{{ courseForm.value | json}}
<form class="add-course-form" [formGroup]="courseForm" (ngSubmit)="onSave()">
  <mat-card
    class="add-course-form__substrate"
  >
    <mat-form-field
      class="add-course-form__input--fullWidth"
      [floatLabel]="always"
    >
      <mat-label>
        <span *ngIf="courseForm.get('name').untouched || courseForm.get('name').valid"> Title </span>
        <span *ngIf="courseForm.get('name').invalid && courseForm.get('name').touched">
          <span *ngIf="courseForm.get('name').errors.required">Title is required</span>
          <span *ngIf="courseForm.get('name').errors.maxlength">Max length is 50 symbols</span>
        </span>
      </mat-label>
      <input
        matInput
        name="name"
        placeholder="Title"
        formControlName="name"
      >
    </mat-form-field>
    <mat-form-field
      class="add-course-form__input--fullWidth"
    >
      <mat-label>
        <span
          *ngIf="courseForm.get('description').untouched || courseForm.get('description').valid"
        >
          Description
        </span>
        <span *ngIf="courseForm.get('description').invalid && courseForm.get('description').touched">
          <span *ngIf="courseForm.get('description').errors.required">Description is required</span>
          <span *ngIf="courseForm.get('description').errors.maxlength">Max length is 500 symbols</span>
        </span>
      </mat-label>
      <textarea
        name="description"
        matInput
        placeholder="Description"
        formControlName="description"
      >
      </textarea>
    </mat-form-field>

    <date-input
      name="Date"
      [placeholder]="'Date'"
      [formControl]="courseForm.get('date')"
    >
    </date-input>

    <br>
    <number-input
      name="Duration"
      [placeholder]="'Duration'"
      [formControl]="courseForm.get('length')"
    >
    </number-input>
   
    <span>
      {{ courseForm.controls.length.value | duration }}
    </span>
    <author-select
      [formControl]="courseForm.get('authors')"
    >
    </author-select>
    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="courseForm.invalid"
    >
      Save
    </button>
    <button
      mat-raised-button
      color="warn"
      class="add-course-form__button-cancel"
      (click)="navigationRouter.navigate(['courses'])"
    >
      Cancel
    </button>
  </mat-card>
</form>