<app-breadcrumbs [title]="courseItem.name"></app-breadcrumbs>
<form class="add-course-form">
  <mat-card
    class="add-course-form__substrate"
  >
    <mat-form-field
      class="add-course-form__input--fullWidth"
    >
      <mat-label>
        Title
      </mat-label>
      <input
        matInput
        name="name"
        placeholder="Title"
        [(ngModel)]="courseItem.name"
      >
    </mat-form-field>
    <mat-form-field
      class="add-course-form__input--fullWidth"
    >
      <mat-label>
        Description
      </mat-label>
      <textarea
        name="description"
        matInput
        placeholder="Description"
        [(ngModel)]="courseItem.description"
      >
      </textarea>
    </mat-form-field>
    <mat-form-field>
      <input
        name="creationDate"
        matInput
        [matDatepicker]="courseDatePicker"
        placeholder="Date"
        [value]="courseItem.date"
      >
      <mat-datepicker-toggle
        matSuffix
        [for]="courseDatePicker"
      >
      </mat-datepicker-toggle>
      <mat-datepicker #courseDatePicker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>
        Duration
      </mat-label>
      <input
        name="duration"
        matInput
        placeholder="Duration"
        [(ngModel)]="courseItem.length"
      >
    </mat-form-field>
    <span>
      {{ courseItem.length | duration }}
    </span>
    <mat-form-field
      class="add-course-form__input--fullWidth"
    >
      <mat-label>
        Authors
      </mat-label>
      <input
        matInput
        placeholder="Authors"
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="onSave()"
    >
      Save
    </button>
    <button
      mat-raised-button
      color="warn"
      class="add-course-form__button-cancel"
      (click)="navigationRouter.navigate(['courses'])"
    >
      Cancel
    </button>
  </mat-card>
</form>