<form class="login-form">
  <mat-card
    class="login-form__substrate"
  >
    <mat-form-field
      class="login-form__input"
    >
      <mat-label>
        Login
      </mat-label>
      <input
        matInput
        placeholder="Login"
      >
    </mat-form-field>
    <mat-form-field
      class="login-form__input"
    >
      <mat-label>
        Password
      </mat-label>
      <input
        matInput
        placeholder="Password"
      >
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="login($event)"
    >
      Enter
    </button>
  </mat-card>
</form>